# Coffee Sales Data Preprocessing

This notebook presents a complete data preprocessing workflow
for a fictional coffee bean company.

Sales data from multiple Excel files (2019–2021) is loaded,
combined into a single dataset, cleaned, and standardized.
The goal is to transform heterogeneous raw data into a
consistent, analysis-ready format suitable for further
reporting and visualization.

## Data Context

The raw sales data was collected over multiple years and stored
in separate Excel files. Due to manual data entry, the datasets
contain inconsistencies such as varying column names, inconsistent
date formats, spelling variations, missing values, and duplicates.

These issues are typical for real-world business data and
require systematic preprocessing before analysis.

## Project Objectives

The preprocessing steps in this notebook focus on:

- Loading and combining multiple Excel data sources
- Standardizing column names across datasets
- Correcting inconsistent date formats
- Cleaning text fields and standardizing product names
- Handling missing values and duplicates
- Exporting a clean and consistent dataset

In [3]:
import pandas as pd
import openpyxl as op

In [4]:
df19_raw = pd.read_excel("KaffeeDaten/Kaffeebohnen_2019.xlsx", skiprows=2, header=0, na_values=[0])
df19 = df19_raw.copy()
df19

,Kaffee Sorte,€,Stückzahl,Kauf Datum,Kunde bestellt aus:,Kunden-ID
0,Latte Macchiato,3.5,8,2019-02-08 00:00:00,Oesterreich,NaN
1,Expresso,2,3,2019-10-14 00:00:00,Deutschland,1022.0
2,Amerikana,2.5,1,2019-04-26 00:00:00,Oesterreich,1011.0
3,Kapuccino,3,3,2019-02-28 00:00:00,Oesterreich,1012.0
4,Amerikana,2.5,4,2019-10-06 00:00:00,Deutschland,1082.0
...,...,...,...,...,...,...
56,Kapuccino,3,8,2019-07-09 00:00:00,Deutschland,NaN
57,Latte Macchiato,3.5,1,2019-12-11 00:00:00,Deutschland,1076.0
58,Latte Macchiato,3.5,2,2019-09-24 00:00:00,Deutschland,1025.0
59,Expresso,2,1,2019-06-17 00:00:00,Deutschland,1045.0
60,Espresso,2,2,2019-04-14 00:00:00,Deutschland,1057.0

In [5]:
df20_raw = pd.read_excel("KaffeeDaten/Kaffeebohnen_2020.xlsx", skiprows=2, header=0, na_values=[0], usecols="A:F")
df20 = df20_raw.copy()
df20

        Kaffee Preis      Stück                Datum         Land  Kunden-ID
0    Amerikana   2.5          2  2020-01-18 00:00:00  Deutschland     1002.0
1    Americano   2.5          3  2020-06-29 00:00:00  Deutschland     1081.0
2    Kapuccino     3          3  2020-12-01 00:00:00  Oesterreich     1038.0
3    Americano   2,5          3  2020-12-23 00:00:00  Deutschland     1093.0
4    Americano   2.5          3  2020-01-22 00:00:00  Deutschland     1082.0
..         ...   ...        ...                  ...          ...        ...
81    Expresso     2          1              Neujahr  Oesterreich     1065.0
82     Espreso     2  Storniert  2020-11-07 00:00:00  Deutschland     1093.0
83  Cappuccino     3          1  2020-03-15 00:00:00  Deutschland     1064.0
84  Cappuccino     3          1  2020-07-14 00:00:00  Deutschland     1056.0
85    Espresso     2          4  2020-09-01 00:00:00  Oesterreich     1025.0

[86 rows x 6 columns]

In [6]:
df21_raw = pd.read_excel("KaffeeDaten/Kaffeebohnen_2021.xlsx", skiprows=2, header=0, na_values=[0], usecols="A:F")
df21 = df21_raw.copy()
df21 = df21.dropna(how="all")
df21

,Sorte,Preis in €,Mengenangabe,Kaufdatum,Land,Kundennr
0,Espresso,2,4,2021-10-23 00:00:00,Deutschland,1029
1,Kapuccino,3,3,2021-10-18 00:00:00,Deutschland,1033
2,Expresso,"2,0",4,2021-02-14 00:00:00,Deutschland,"1068, Kunde hat Relkamiert!"
3,Amerikana,"2,5",1,2021-12-29 00:00:00,Deutschland,1087
4,Kapuccino,3,3,2021-02-25 00:00:00,Deutschland,NaN
...,...,...,...,...,...,...
88,Cappuccino,3,1,2021-06-17 00:00:00,Oesterreich,1054
89,Amerikana,"2,5",1,2021-12-29 00:00:00,Deutschland,1087
90,Espreso,2,4,2021-01-06 00:00:00,Deutschland,1022
91,Espreso,2,3,2021-05-10 00:00:00,Deutschland,1073
92,Cappuccino,3,3,15-15-2019,Deutschland,1063

## Initial Data Loading

The raw Excel files for the years 2019–2021 were loaded using pandas.
At this stage, the focus is on ensuring that the files are read correctly,
including proper header detection and consistent column selection.

No data cleaning or transformation is performed at this point.

## Dataset Consolidation and Column Standardization

The yearly Excel files contain the same information but use
different column names and formatting conventions.
Before combining the datasets, column names are standardized
to ensure consistency across all records.

This step simplifies downstream preprocessing and guarantees
that all datasets share an identical schema.

In [8]:
df19.columns = (
    df19.columns
        .str.strip()
        .str.lower()
        .str.replace("kaffee sorte", "produkt")
        .str.replace("stückzahl", "anzahl")
        .str.replace("€", "preis")
        .str.replace("kauf datum", "kaufdatum")
        .str.replace("kunde bestellt aus:", "lieferland")
        .str.replace("-", "_")
)
df19

            produkt preis  anzahl            kaufdatum   lieferland  kunden_id
0   Latte Macchiato   3.5       8  2019-02-08 00:00:00  Oesterreich        NaN
1          Expresso     2       3  2019-10-14 00:00:00  Deutschland     1022.0
2         Amerikana   2.5       1  2019-04-26 00:00:00  Oesterreich     1011.0
3         Kapuccino     3       3  2019-02-28 00:00:00  Oesterreich     1012.0
4         Amerikana   2.5       4  2019-10-06 00:00:00  Deutschland     1082.0
..              ...   ...     ...                  ...          ...        ...
56        Kapuccino     3       8  2019-07-09 00:00:00  Deutschland        NaN
57  Latte Macchiato   3.5       1  2019-12-11 00:00:00  Deutschland     1076.0
58  Latte Macchiato   3.5       2  2019-09-24 00:00:00  Deutschland     1025.0
59         Expresso     2       1  2019-06-17 00:00:00  Deutschland     1045.0
60         Espresso     2       2  2019-04-14 00:00:00  Deutschland     1057.0

[61 rows x 6 columns]

In [10]:
df20.columns = (
    df20.columns
        .str.strip()
        .str.lower()
        .str.replace("kaffee", "produkt")
        .str.replace("stück", "anzahl")
        .str.replace("datum", "kaufdatum")
        .str.replace("land", "lieferland")
        .str.replace("-", "_")
)
df20

       produkt preis     anzahl            kaufdatum   lieferland  kunden_id
0    Amerikana   2.5          2  2020-01-18 00:00:00  Deutschland     1002.0
1    Americano   2.5          3  2020-06-29 00:00:00  Deutschland     1081.0
2    Kapuccino     3          3  2020-12-01 00:00:00  Oesterreich     1038.0
3    Americano   2,5          3  2020-12-23 00:00:00  Deutschland     1093.0
4    Americano   2.5          3  2020-01-22 00:00:00  Deutschland     1082.0
..         ...   ...        ...                  ...          ...        ...
81    Expresso     2          1              Neujahr  Oesterreich     1065.0
82     Espreso     2  Storniert  2020-11-07 00:00:00  Deutschland     1093.0
83  Cappuccino     3          1  2020-03-15 00:00:00  Deutschland     1064.0
84  Cappuccino     3          1  2020-07-14 00:00:00  Deutschland     1056.0
85    Espresso     2          4  2020-09-01 00:00:00  Oesterreich     1025.0

[86 rows x 6 columns]

In [12]:
df21.columns = (
    df21.columns
        .str.strip()
        .str.lower()
        .str.replace("sorte", "produkt")
        .str.replace("preis in €", "preis")
        .str.replace("mengenangabe", "anzahl")
        .str.replace("land", "lieferland")
        .str.replace("kundennr", "kunden_id")
)
df21

,produkt,preis,anzahl,kaufdatum,lieferland,kunden_id
0,Espresso,2,4,2021-10-23 00:00:00,Deutschland,1029
1,Kapuccino,3,3,2021-10-18 00:00:00,Deutschland,1033
2,Expresso,"2,0",4,2021-02-14 00:00:00,Deutschland,"1068, Kunde hat Relkamiert!"
3,Amerikana,"2,5",1,2021-12-29 00:00:00,Deutschland,1087
4,Kapuccino,3,3,2021-02-25 00:00:00,Deutschland,NaN
...,...,...,...,...,...,...
88,Cappuccino,3,1,2021-06-17 00:00:00,Oesterreich,1054
89,Amerikana,"2,5",1,2021-12-29 00:00:00,Deutschland,1087
90,Espreso,2,4,2021-01-06 00:00:00,Deutschland,1022
91,Espreso,2,3,2021-05-10 00:00:00,Deutschland,1073
92,Cappuccino,3,3,15-15-2019,Deutschland,1063

After standardizing the column names, all datasets now share
the same structure and can be safely combined into a single DataFrame.

## Dataset Combination

The standardized yearly datasets are concatenated into a single
DataFrame to enable unified data cleaning and preprocessing.
The resulting dataset contains all records from 2019 to 2021.

In [19]:
df_concat = pd.concat([df19, df20, df21], axis=0)
df_concat_raw = df_concat.copy()
df_concat

            produkt preis anzahl            kaufdatum   lieferland kunden_id
0   Latte Macchiato   3.5      8  2019-02-08 00:00:00  Oesterreich       NaN
1          Expresso     2      3  2019-10-14 00:00:00  Deutschland    1022.0
2         Amerikana   2.5      1  2019-04-26 00:00:00  Oesterreich    1011.0
3         Kapuccino     3      3  2019-02-28 00:00:00  Oesterreich    1012.0
4         Amerikana   2.5      4  2019-10-06 00:00:00  Deutschland    1082.0
..              ...   ...    ...                  ...          ...       ...
88       Cappuccino     3      1  2021-06-17 00:00:00  Oesterreich      1054
89        Amerikana   2,5      1  2021-12-29 00:00:00  Deutschland      1087
90          Espreso     2      4  2021-01-06 00:00:00  Deutschland      1022
91          Espreso     2      3  2021-05-10 00:00:00  Deutschland      1073
92       Cappuccino     3      3           15-15-2019  Deutschland      1063

[222 rows x 6 columns]

The row count of the combined dataset is verified to ensure
that no records were lost or duplicated during the merge process.

## Initial Data Overview

After combining the yearly datasets, an initial overview of the data
is performed to assess structure, data types, and completeness.
This step helps identify potential data quality issues before
any cleaning or transformation is applied.

In [20]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     222 non-null    object
 1   preis       222 non-null    object
 2   anzahl      222 non-null    object
 3   kaufdatum   222 non-null    object
 4   lieferland  222 non-null    object
 5   kunden_id   205 non-null    object
dtypes: object(6)
memory usage: 12.1+ KB

In [22]:
display(df_concat.describe(include="all"))

          produkt  preis  anzahl   kaufdatum   lieferland  kunden_id
count         222    222     222         222          222      205.0
unique          9      8      10         186            2       86.0
top     Kapuccino      2       1  2020/02/30  Deutschland     1025.0
freq           31     67      72           5          149        7.0

### Observations

- All columns are currently stored as object types and will require
  appropriate type conversion in later steps.
- The dataset contains missing values, most notably in the customer ID column.
- Basic descriptive statistics provide an initial understanding of
  value distributions and category frequencies.

### Missing Values Overview

Missing values are assessed to identify incomplete records
and potential data quality issues.

At this stage, missing values are only identified and quantified.
No imputation or removal is performed yet.

In [27]:
df_concat.isnull().sum()

produkt        0
preis          0
anzahl         0
kaufdatum      0
lieferland     0
kunden_id     17
dtype: int64

### Observations

- Missing values are present only in the `kunden_id` column.
- All other columns are complete.
- The occurrence of missing customer IDs will be addressed
  in a later data cleaning step.

## Data Cleaning: Handling Missing Values

### Assessment of Incomplete Records

At this stage, missing values are examined but not removed.
Since the final analytical use cases are not yet defined,
all records are retained to preserve maximum information.

In [30]:
df_concat[df_concat["kunden_id"].isna() | df_concat["kunden_id"].isnull()]

            produkt preis anzahl            kaufdatum   lieferland kunden_id
0   Latte Macchiato   3.5      8  2019-02-08 00:00:00  Oesterreich       NaN
23        Kapuccino     3      3  2019-12-05 00:00:00  Oesterreich       NaN
26       Cappuccino     3      2  2019-01-15 00:00:00  Oesterreich       NaN
29         Espresso     2      2  2019-01-08 00:00:00  Deutschland       NaN
42          Espreso     2      2  2019-06-03 00:00:00  Deutschland       NaN
56        Kapuccino     3      8  2019-07-09 00:00:00  Deutschland       NaN
24         Expresso     2      2  2020-01-13 00:00:00  Deutschland       NaN
42  Latte Macchiato   3.5      2  2020-05-19 00:00:00  Deutschland       NaN
50        Kapuccino     3      2  2020-02-11 00:00:00  Deutschland       NaN
56        Kapuccino     3      1  2020-07-16 00:00:00  Oesterreich       NaN
66   Latte Machiato   3.5      2  2020-01-22 00:00:00  Oesterreich       NaN
67       Cappuccino     3      3  2020-10-25 00:00:00  Deutschland       NaN
68        Americano   2.5      1  2020-06-11 00:00:00  Oesterreich       NaN
4         Kapuccino     3      3  2021-02-25 00:00:00  Deutschland       NaN
18         Espresso     2      2  2021-12-28 00:00:00  Deutschland       NaN
80  Latte Macchiato   3.5      1  2021-08-14 00:00:00  Oesterreich       NaN
83        Kapuccino     3      2  2021-01-25 00:00:00  Deutschland       NaN

### Identification of Rows with Missing Values

Rows containing missing values are displayed to understand
which attributes are affected and how frequently incomplete
records occur in the dataset.

### Observations and Decision

- Missing values occur exclusively in the `kunden_id` column.
- All other fields are fully populated.
- Since future analysis requirements are not yet specified,
  no rows are removed or imputed at this stage.

## Data Cleaning: Text Standardization

### Identification of Inconsistent Text Values

Text-based categorical columns are examined for spelling variations
and inconsistent naming conventions. Such inconsistencies can lead
to incorrect aggregations and misleading analysis results if not addressed.

The unique values of the `produkt` column are inspected to identify
potential spelling variations and inconsistencies across the dataset.

In [32]:
df_concat["produkt"].unique()

array(['Latte Macchiato', 'Expresso', 'Amerikana', 'Kapuccino',
       'Espresso', 'Latte Machiato', 'Americano', 'Espreso', 'Cappuccino'],
      dtype=object)

### Standardization Strategy

A mapping dictionary is defined to harmonize spelling variations
and map all product names to a consistent standard representation.

In [34]:
korrektur_dict = {
    "Expresso": "Espresso",
    "Espreso": "Espresso",
    "Latte Machiato": "Latte Macchiato",
    "Amerikana": "Americano",
    "Kapuccino": "Cappuccino",
}

df_concat['produkt'] = df_concat['produkt'].replace(korrektur_dict)
df_concat["produkt"].unique()

array(['Latte Macchiato', 'Espresso', 'Americano', 'Cappuccino'],
      dtype=object)

### Result

After applying the standardization mapping, all product names
are represented consistently, ensuring reliable grouping and aggregation
in subsequent analyses.

## Data Type Assessment and Conversion

### Assessment of Raw Value Formats

Before converting columns to numeric or datetime types,
the raw values are inspected to identify inconsistent
formats, invalid entries, and non-numeric values that
require special handling.

In [38]:
df_concat["preis"].value_counts()

preis
2      67
3      49
3.5    42
2.5    42
3,0     8
2,0     5
2,5     5
3,5     4
Name: count, dtype: int64

In [39]:
df_concat["anzahl"].value_counts()
# Storniert und ? müssen bereinigt werden

anzahl
1            72
2            56
3            50
4            30
8             8
100           2
0             1
300           1
Storniert     1
?             1
Name: count, dtype: int64

In [40]:
df_concat["kaufdatum"].value_counts()

kaufdatum
2020/02/30             5
15-15-2019             4
2019-08-20 00:00:00    3
2019-10-14 00:00:00    3
2020-01-22 00:00:00    2
                      ..
2021-01-25 00:00:00    1
2021-01-05 00:00:00    1
2021-10-15 00:00:00    1
2021-02-06 00:00:00    1
2021-06-17 00:00:00    1
Name: count, Length: 186, dtype: int64

### Observations

- The `preis` column contains numeric values stored as strings,
  including decimal values using both dots and commas.
- The `anzahl` column contains mostly numeric values but also
  non-numeric entries such as text markers.
- The `kaufdatum` column contains mixed date formats that cannot
  be parsed uniformly without conversion.

### Conversion Strategy

To ensure consistent data types, numeric and date columns are
converted using robust parsing methods. Invalid or non-convertible
values are coerced into missing values to preserve the overall
dataset while flagging problematic records.

In [49]:
df_concat["preis"] = df_concat["preis"].astype(str).str.replace(",", ".")
df_concat["preis"].value_counts()

C:\Users\User\AppData\Local\Temp\ipykernel_58988\1918577674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["preis"] = df_concat["preis"].astype(str).str.replace(",", ".")

preis
2      63
3      47
2.5    46
3.5    45
3.0     8
2.0     5
Name: count, dtype: int64

In [55]:
df_concat["preis"] = pd.to_numeric(df_concat["preis"], errors="coerce")
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     214 non-null    object
 1   preis       214 non-null    float64
 2   anzahl      214 non-null    object
 3   kaufdatum   214 non-null    object
 4   lieferland  214 non-null    object
 5   kunden_id   197 non-null    object
dtypes: float64(1), object(5)
memory usage: 11.7+ KB

C:\Users\User\AppData\Local\Temp\ipykernel_58988\629496271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["preis"] = pd.to_numeric(df_concat["preis"], errors="coerce")

In [58]:
df_concat["anzahl"] = (
    df_concat["anzahl"]
        .replace("?", pd.NA)
        .replace("storniert", 0)
)

C:\Users\User\AppData\Local\Temp\ipykernel_58988\250075278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["anzahl"] = (

In [59]:
df_concat["anzahl"].value_counts()

anzahl
1.0      68
2.0      54
3.0      49
4.0      29
8.0       8
100.0     2
0.0       1
300.0     1
Name: count, dtype: int64

In [61]:
df_concat["anzahl"] = df_concat["anzahl"].astype("Int64")
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     214 non-null    object
 1   preis       214 non-null    float64
 2   anzahl      212 non-null    Int64
 3   kaufdatum   214 non-null    object
 4   lieferland  214 non-null    object
 5   kunden_id   197 non-null    object
dtypes: Int64(1), float64(1), object(4)
memory usage: 11.9+ KB

C:\Users\User\AppData\Local\Temp\ipykernel_58988\3966836178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["anzahl"] = df_concat["anzahl"].astype("Int64")

In [67]:
df_concat["kaufdatum"] = pd.to_datetime(df_concat["kaufdatum"], errors="coerce")
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     214 non-null    object
 1   preis       214 non-null    float64
 2   anzahl      212 non-null    Int64
 3   kaufdatum   200 non-null    datetime64[ns]
 4   lieferland  214 non-null    object
 5   kunden_id   197 non-null    object
dtypes: Int64(1), datetime64[ns](1), float64(1), object(3)
memory usage: 11.9+ KB

C:\Users\User\AppData\Local\Temp\ipykernel_58988\3071794984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["kaufdatum"] = pd.to_datetime(df_concat["kaufdatum"], errors="coerce")

In [68]:
df_concat["kaufdatum"].value_counts()

kaufdatum
2019-10-14    3
2019-08-20    3
2019-12-12    2
2019-06-03    2
2020-01-31    2
             ..
2021-01-25    1
2021-01-05    1
2021-10-15    1
2021-02-06    1
2021-06-17    1
Name: count, Length: 180, dtype: int64

In [69]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     214 non-null    object
 1   preis       214 non-null    float64
 2   anzahl      212 non-null    Int64
 3   kaufdatum   200 non-null    datetime64[ns]
 4   lieferland  214 non-null    object
 5   kunden_id   197 non-null    object
dtypes: Int64(1), datetime64[ns](1), float64(1), object(3)
memory usage: 11.9+ KB

In [71]:
df_concat["lieferland"].value_counts()

lieferland
Deutschland    142
Oesterreich     72
Name: count, dtype: int64

In [74]:
df_concat["kunden_id"].value_counts()

kunden_id
1093.0    7
1087.0    6
1024.0    5
1025.0    5
1022.0    5
         ..
1006.0    1
1086.0    1
1017.0    1
1085.0    1
1072.0    1
Name: count, Length: 86, dtype: int64

In [75]:
df_concat[~df_concat["kunden_id"].astype(str).str.isnumeric()]

,produkt,preis,anzahl,kaufdatum,lieferland,kunden_id
0,Latte Macchiato,3.5,8,2019-02-08,Oesterreich,NaN
1,Espresso,2.0,3,2019-10-14,Deutschland,1022.0
2,Americano,2.5,1,2019-04-26,Oesterreich,1011.0
3,Cappuccino,3.0,3,2019-02-28,Oesterreich,1012.0
4,Americano,2.5,4,2019-10-06,Deutschland,1082.0
...,...,...,...,...,...,...
2,Espresso,2.0,4,2021-02-14,Deutschland,"1068, Kunde hat Relkamiert!"
4,Cappuccino,3.0,3,2021-02-25,Deutschland,NaN
18,Espresso,2.0,2,2021-12-28,Deutschland,NaN
80,Latte Macchiato,3.5,1,2021-08-14,Oesterreich,NaN
83,Cappuccino,3.0,2,2021-01-25,Deutschland,NaN

In [76]:
df_concat["kunden_id"] = (
    df_concat["kunden_id"]
        .astype(str)
        .str.extract(r"(\d+)", expand=False)  
        .astype("Int64")                      
)

C:\Users\User\AppData\Local\Temp\ipykernel_58988\3994708904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat["kunden_id"] = (

In [77]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     214 non-null    object
 1   preis       214 non-null    float64
 2   anzahl      212 non-null    Int64
 3   kaufdatum   200 non-null    datetime64[ns]
 4   lieferland  214 non-null    object
 5   kunden_id   197 non-null    Int64
dtypes: Int64(2), datetime64[ns](1), float64(1), object(2)
memory usage: 12.1+ KB

### Result

After conversion, numeric and datetime columns use appropriate
data types. Values that could not be converted successfully
are represented as missing values and can be addressed in
subsequent cleaning or analysis steps.

## Data Cleaning: Duplicate Detection and Removal

### Identification of Duplicate Records

Duplicate records are identified to ensure that each transaction
is represented only once in the dataset. This step helps prevent
distorted aggregations and inaccurate analysis results.

In [41]:
df_concat[df_concat.duplicated()]

            produkt preis anzahl            kaufdatum   lieferland kunden_id
58  Latte Macchiato   3.5      2  2019-09-24 00:00:00  Deutschland    1025.0
59         Espresso     2      1  2019-06-17 00:00:00  Deutschland    1045.0
60         Espresso     2      2  2019-04-14 00:00:00  Deutschland    1057.0
83       Cappuccino     3      1  2020-03-15 00:00:00  Deutschland    1064.0
84       Cappuccino     3      1  2020-07-14 00:00:00  Deutschland    1056.0
85         Espresso     2      4  2020-09-01 00:00:00  Oesterreich    1025.0
89        Americano   2,5      1  2021-12-29 00:00:00  Deutschland      1087
91         Espresso     2      3  2021-05-10 00:00:00  Deutschland      1073

Duplicates are defined based on a combination of product, price,
quantity, purchase date, delivery country, and customer ID.
Only fully identical records across these attributes are considered duplicates.

In [44]:
df_concat.duplicated(subset=['produkt','preis','anzahl','kaufdatum', 'lieferland', 'kunden_id']).sum()
# 8 Dublikate

np.int64(8)

### Observations

A small number of duplicate records is present in the dataset.
These duplicates likely result from repeated data entry
across the original source files.

In [46]:
df_concat = df_concat.drop_duplicates(subset=['produkt','preis','anzahl','kaufdatum', 'lieferland', 'kunden_id'])
df_concat.duplicated(subset=['produkt','preis','anzahl','kaufdatum', 'lieferland', 'kunden_id']).sum()

np.int64(0)

### Duplicate Removal

Identified duplicate records are removed to ensure data integrity.
After removal, the dataset is revalidated to confirm that
no duplicates remain.

## Final Data Validation

After cleaning and standardization, the dataset is validated again to confirm:
- consistent column names and expected schema
- appropriate data types for numeric and datetime columns
- remaining missing values and their locations

In [79]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, 0 to 92
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   produkt     214 non-null    object
 1   preis       214 non-null    float64
 2   anzahl      212 non-null    Int64
 3   kaufdatum   200 non-null    datetime64[ns]
 4   lieferland  214 non-null    object
 5   kunden_id   197 non-null    Int64
dtypes: Int64(2), datetime64[ns](1), float64(1), object(2)
memory usage: 12.1+ KB

In [80]:
df_concat.columns

Index(['produkt', 'preis', 'anzahl', 'kaufdatum', 'lieferland', 'kunden_id'], dtype='object')

In [81]:
df_concat.isnull().sum()

produkt        0
preis          0
anzahl         2
kaufdatum     14
lieferland     0
kunden_id     17
dtype: int64

### Validation Summary

- Data types are now correctly assigned (numeric and datetime conversions applied).
- Remaining missing values are limited to a few columns and were intentionally retained
  to avoid assumptions about unknown business rules.
- The dataset is now in an analysis-ready format and can be used for reporting or EDA.

## Outlier Assessment

## Outlier Assessment

Numeric columns are examined for unusually high or low values
to identify potential outliers. This helps distinguish between
valid extreme observations and potential data entry errors.

In [83]:
df_concat.describe()

            preis     anzahl            kaufdatum    kunden_id
count  214.000000      212.0                  200        197.0
mean     2.679907   4.731132  2020-08-01 00:07:12  1049.918782
min      2.000000        0.0  2019-01-04 00:00:00       1000.0
25%      2.000000        1.0  2019-12-11 18:00:00       1024.0
50%      2.500000        2.0  2020-08-24 00:00:00       1050.0
75%      3.000000        3.0  2021-04-08 06:00:00       1074.0
max      3.500000      300.0  2021-12-30 00:00:00       1099.0
std      0.568432  22.514416                  NaN    28.700485

### Observations

- The majority of orders contain small quantities.
- A small number of records show unusually high order quantities.
- These values lie far above the upper quartile and are treated as potential outliers.

To better understand these extreme values, records with unusually
high quantities are isolated and inspected individually.

In [89]:
df_concat[df_concat["anzahl"] > 10]

            produkt  preis  anzahl  kaufdatum   lieferland  kunden_id
7   Latte Macchiato    3.5     100 2019-07-18  Oesterreich       1050
16         Espresso    2.0     100 2020-06-14  Oesterreich       1003
41       Cappuccino    3.0     300 2020-08-11  Oesterreich       1095

### Decision

The identified outliers are retained in the dataset.
Without additional business context, it cannot be determined
whether these values represent valid bulk orders or data entry errors.
Premature removal could result in unintended data loss.

## Export of Cleaned Dataset

The cleaned and validated dataset is exported as an Excel file.
This file represents the final, analysis-ready version of the data
and can be used for reporting or further exploratory analysis.

In [88]:
df_concat.to_excel("Kafeebohnen_2019_2021_clean.xlsx", index=False)

## Conclusion

This project demonstrates a complete data preprocessing workflow,
including data consolidation, cleaning, standardization, validation,
and documentation of analytical decisions.

The resulting dataset is structured, consistent, and suitable
for downstream analysis tasks.